@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
    ViewBag.Title = "Index";
    ViewBag.header = "landing-header";
}

<section class="py-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <img src="~/LandingPageAssets/images/ExamPaperUniversity.jpg" alt="special offers" class="img-fluid" width="492px">
            </div>
            <div class="col-md-6">
                <h2 class="section-title">We made Conducting Exams Easier.</h2>
                <p class="mb-5">Online Examination will reduce the huge work done by teachers, administrators and also students.</p>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="media landing-feature">
                            <span class="landing-feature-icon"></span>
                            <div class="media-body">
                                <h5>Solution for Education</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="media landing-feature">
                            <span class="landing-feature-icon"></span>
                            <div class="media-body">
                                <h5>Solution for Training Institute</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="media landing-feature">
                            <span class="landing-feature-icon"></span>
                            <div class="media-body">
                                <h5>Onscreen Evaluation System </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>