
@{
    ViewBag.Title = "Error";
}

    <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
            <strong>
                @Html.Raw(ViewBag.ErrorMessage)
            </strong>
        </div>
        
    </div>

